* {
  box-sizing: border-box;
}

body {
  background: url("whatsapp.jpg") no-repeat fixed center;
  background-size: cover;
}

.fa-2x {
  font-size: 1.5em ;
}

.web {
  position: relative;
  overflow: hidden;
  top: 19px;
  padding: 0 ;

}

.web-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0 ;
  padding: 0 ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
  padding: 0 ;
  margin: 0 ;
  height: 100%;
  background-color: red;
}
.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  z-index: 1;
  position: relative;
  display: block;
  top: 0;

}


.heading {
  padding: 10px 16px 10px 15px;
  margin: 0 ;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;

}

.heading-pic {
  padding: 0 ;
  cursor: pointer;

}

.heading-pic-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;

}

.heading-name {
  padding: 0 ;
  cursor: pointer;
  color: #f7f7f7;
}


.heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}
.heading-compose {
  padding: 0;
}

.heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.heading-dot {
  padding: 0;
  margin-left: 10px;
}

.heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 ;
  margin: 0 ;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px ;
  background-color: #fbfbfb;
}

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 ;
  margin: 0 ;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.sideBar-body {
  position: relative;
  padding: 10px ;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 ;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-pic {
  text-align: center;
  padding: 0 ;
}

.pic-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 ;
}

.sideBar-main .row {
  padding: 0 ;
  margin: 0 ;
}

.sideBar-name {
  padding: 10px ;
}


.sideBar-time {
  padding: 10px ;
}

.newMessage {
  padding: 0 ;
  margin: 0 ;
  height: 100%;
  position: relative;
  left: -100%;
}
.newMessage-heading {
  padding: 10px 16px 10px 15px ;
  margin: 0 ;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.newMessage-main {
  padding: 10px 16px 0 15px ;
  margin: 0 ;
  height: 60px;
  margin-top: 30px ;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px ;
}
.newMessage-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px ;
  display: block;
  cursor: pointer;
}
.newMessage-back i {
  margin: auto ;
}

.composeBox {
  padding: 0 ;
  margin: 0 ;
  height: 60px;
  width: 100%;
}

.composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px ;
  background-color: #fbfbfb;
}

.composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.compose-sideBar {
  padding: 0 ;
  margin: 0 ;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}



.conversation {
  padding: 0 ;
  margin: 0 ;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.message {
  padding: 0 ;
  margin: 0 ;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}
.message-previous {
  margin : 0 ;
  padding: 0 ;
  height: auto;
  width: 100%;
}
.previous {
  font-size: 15px;
  text-align: center;
  padding: 10px ;
  cursor: pointer;
}

.previous a {
  text-decoration: none;
  font-weight: 700;
}

.message-body {
  margin: 0 ;
  padding: 0 ;
  width: auto;
  height: auto;
}

.message-main-receiver {
  max-width: 60%;
}

.message-main-sender {
  padding: 3px 20px ;
  margin-left: 40% ;
  max-width: 60%;
}

.message-text {
  margin: 0 ;
  padding: 5px ;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 ;
}

.message-time {
  margin: 0 ;
  margin-left: 50px ;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;

}

.receiver {
  width: auto ;
  padding: 4px 10px 7px ;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  float: right;
  width: auto ;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px ;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}




.reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px ;
  margin: 0 ;
  z-index: 1000;
}

.reply-emojis {
  padding: 5px ;
}

.reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px ;
  color: #93918f;
  cursor: pointer;
}

.reply-recording {
  padding: 5px ;
}

.reply-recording i {
  text-align: center;
  padding: 5px ;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px ;
}

.reply-send i {
  text-align: center;
  padding: 5px ;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px ;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px ;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}


.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}
@media screen and (max-width: 768px) {
    
.heading {
  padding: 10px 16px 10px 15px;
  margin: 0 ;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
  background-color: #1B5C1D;
}
.web {
  position: relative;
  overflow: hidden;
  top: 1px;
  padding: 0 ;

}
.heading-pic-icon img {
  
}